body{
    background-color: lavender;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    margin-top: 10px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.container{
    max-width: 950px;;
    margin: auto;
    border: 2px solid black;
    height: 50vh;
    padding : 25px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.msg{
    width: 25%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    word-wrap: break-word;
}
.left{
    float: left;
    clear: both;
    background-color: burlywood;
}
.right{
    float: right;
    clear: both;
    background-color: rgb(192, 229, 101);
}
.center{
    margin: 5px auto;
    clear: both;
    text-align: center;
    background-color: rgb(221, 205, 139)
}

#send-container{
    margin: auto;
    text-align: center;
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#msgInput{
    width: 90%;
    border: 1px solid  black;
    border-radius: 3px;
    height: 25px;
}
.btn{
    border: 0px;
    border-radius: 2px;
    background-color: #4CAF50;
    font-size: 14px;
    cursor: pointer;
    height: 26px;
}

.hyperlinks{
    text-align: center;
    padding: 10px;
    margin: auto;
}

.data{
    text-align: center;
    margin: auto;
    padding: 3px;
}